#Offers #ContactSection img {
    width: 6em;
    height: 6em;
}

#Offers #ContactSection {
    background: #f16b53;
    color: #fffdf5;
    cursor: pointer;
}

#Offers #ContactSection .Group {
    transform: scale(1);
    -webkit-transition: transform 500ms ease;
    transition: transform 500ms ease;
}
#Offers #ContactSection:hover .Group {
    transform: scale(1.125);
}

#Offers #ContactSection a:hover {
    color: inherit;
}

#Offers #ContactSection strong {
    font-size: 2em;
    vertical-align: middle;
}

#Offers #ContactSection img {
    width: 5em;
    height: 5em;
}
